#allow odrefresh aac_drc_prop:file { getattr  map  open };
#allow odrefresh ab_update_gki_prop:file { getattr  map  open };
#allow odrefresh adaptive_haptics_prop:file { getattr  map  open };
#allow odrefresh adbd_config_prop:file { getattr  map  open };
#allow odrefresh adbd_prop:file { getattr  map  open };
#allow odrefresh apexd_config_prop:file { getattr  map  open };
#allow odrefresh apexd_payload_metadata_prop:file { getattr  map  open };
#allow odrefresh apexd_prop:file { getattr  map  open };
#allow odrefresh apk_verity_prop:file { getattr  map  open };
#allow odrefresh audio_config_prop:file { getattr  map  open };
#allow odrefresh bluetooth_a2dp_offload_prop:file { getattr  map  open };
#allow odrefresh bluetooth_audio_hal_prop:file { getattr  map  open };
#allow odrefresh bluetooth_prop:file { getattr  map  open };
#allow odrefresh bootanim_config_prop:file { getattr  map  open };
#allow odrefresh bootloader_boot_reason_prop:file { getattr  map  open };
#allow odrefresh boottime_prop:file { getattr  map  open };
#allow odrefresh boottime_public_prop:file { getattr  map  open };
#allow odrefresh bpf_progs_loaded_prop:file { getattr  map  open };
#allow odrefresh build_attestation_prop:file { getattr  map  open };
#allow odrefresh build_bootimage_prop:file { getattr  map  open };
#allow odrefresh build_config_prop:file { getattr  map  open };
#allow odrefresh camera2_extensions_prop:file { getattr  map  open };
#allow odrefresh camera_calibration_prop:file { getattr  map  open };
#allow odrefresh camerax_extensions_prop:file { getattr  map  open };
#allow odrefresh charger_config_prop:file { getattr  map  open };
#allow odrefresh charger_prop:file { getattr  map  open };
#allow odrefresh charger_status_prop:file { getattr  map  open };
#allow odrefresh codec2_config_prop:file { getattr  map  open };
#allow odrefresh cold_boot_done_prop:file { getattr  map  open };
#allow odrefresh composd_vm_art_prop:file { getattr  map  open };
#allow odrefresh composd_vm_vendor_prop:file { getattr  map  open };
#allow odrefresh cpu_variant_prop:file { getattr  map  open };
#allow odrefresh ctl_adbd_prop:file { getattr  map  open };
#allow odrefresh ctl_apex_load_prop:file { getattr  map  open };
#allow odrefresh ctl_apexd_prop:file { getattr  map  open };
#allow odrefresh ctl_bootanim_prop:file { getattr  map  open };
#allow odrefresh ctl_bugreport_prop:file { getattr  map  open };
#allow odrefresh ctl_console_prop:file { getattr  map  open };
#allow odrefresh ctl_default_prop:file { getattr  map  open };
#allow odrefresh ctl_dpmd_prop:file { getattr  map  open };

