allow vendor_init bluetooth_prop:property_service { set };
allow vendor_init cgroup:file { getattr };
allow vendor_init debugfs:file { setattr };
allow vendor_init default_prop:property_service { set };
allow vendor_init kernel:process { setsched };
allow vendor_init vendor_persist_rcs_prop:property_service { set };
#allow vendor_init vendor_ssr_prop:property_service { set };
